node_modules
npm-debug.log
.yarn
.yarnrc
.pnp.*

__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

.git
.gitignore
Dockerfile*
.dockerignore
*.swp
*.swo
.idea
.vscode
*.log

frontend/build
backend/chroma_db
backend/temp_uploads
backend/uploads

